Language: Cpp
BasedOnStyle: LLVM

UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4

ColumnLimit: 80

BreakBeforeBraces: Linux

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeAssignmentOperators: true

PointerAlignment: Right

BreakBeforeBinaryOperators: None
AlignAfterOpenBracket: Align

SortIncludes: false

IndentCaseLabels: false
